MINIO_ROOT_USER=bdia_minio
MINIO_ROOT_PASSWORD=bdia_minio_local_pass
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
POSTGRES_DB=bdia_dw
POSTGRES_USER=bdia_user
POSTGRES_PASSWORD=bdia_postgres_local_pass
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@bdia.com
PGADMIN_DEFAULT_PASSWORD=bdia_pgadmin_local_pass
PGADMIN_PORT=8085
DUCKDB_UI_PORT=4213
